<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Tutorialsninja Suite">
  <listeners>
	<listener class-name="com.tutninjaproj.qa.utils.ListenerClass" />
	</listeners>
  <test  name="Tutorialsninja TestCases">
    <classes>
      <class name="com.tutninja.qa.testcases.RegisterTest"/>
      <class name="com.tutninja.qa.testcases.LoginTest"/>
      <class name="com.tutninja.qa.testcases.SearchProductTest"/>
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
